guide.dtd

<!ELEMENT screens (screen-body+)>
<!ELEMENT screen-body (screen-title,(screen-menu|screen-recipe))>
<!ATTLIST screen-body id ID #REQUIRED>
<!ELEMENT screen-title (#PCDATA)>
<!ELEMENT screen-menu (menu-item+)>
<!ELEMENT menu-item (#PCDATA)>
<!ATTLIST menu-item href IDREF #IMPLIED>
<!ELEMENT screen-recipe (recipe-item+)>
<!ELEMENT recipe-item (#PCDATA)>
<!ATTLIST recipe-item href IDREF #IMPLIED>