public/guide.rnc

start = guide
guide = element guide {(menu|recipe)+}
id = attribute id {xsd:ID}
ref = attribute ref {xsd:IDREF}
menu = element menu {id, prompt, choice+}
prompt = element prompt {text}
choice = element choice {ref?, text}
recipe = element recipe {id, summary, step+}
summary = element summary {text}
step = element step {ref?, text}
